<mat-toolbar>
  <!-- Logo -->
  <div class="logo-imagen"></div>
  <div class="titulo"><h2>Country Stay Booker</h2></div>
  <!-- Lista desplegable "Tus Reservas" -->
  <button mat-button class="dropdown-button" [matMenuTriggerFor]="reservasMenu">
    Tus Reservas
  </button>
  <mat-menu #reservasMenu="matMenu">
    <!-- Contenido del menú -->
    <button mat-menu-item class="menu-item" (click)="home()">HOME</button>
    <button mat-menu-item class="menu-item" (click)="yourReservaciones()">RESERVACIONES</button>
    <button mat-menu-item class="menu-item" (click)="salir()">SALIR</button>
  </mat-menu>

  <!-- Lista desplegable "Acerca de Nosotros" -->
  <button mat-button class="dropdown-button" [matMenuTriggerFor]="nosotrosMenu">
    Acerca de Nosotros
  </button>
  <mat-menu #nosotrosMenu="matMenu">
    <!-- Contenido del menú -->
    <button mat-menu-item class="menu-item" (click)="informacion()">INFORMACIÓN GENERAL</button>
    <button mat-menu-item class="menu-item" (click)="informacion()">CONTACTO</button>
  </mat-menu>

  <!-- Lista desplegable "Mas Servicios" -->
  <button mat-button class="dropdown-button" [matMenuTriggerFor]="serviciosMenu">
    Mas Servicios
  </button>
  <mat-menu #serviciosMenu="matMenu">
    <!-- Contenido del menú -->
    <button mat-menu-item class="menu-item">AYUDA</button>
    <button mat-menu-item class="menu-item">SUGERENCIAS</button>
    
  </mat-menu>
</mat-toolbar>

<div class="info">
<div class="container">
<div class="texto">
  <p>¿ QUIENES SOMOS ?</p>
</div>
<div class="texto1">
  <p> 
    Somos una empresa dedicada al alquiler de fincas campestres y casas de descanso. Nuestro equipo se esfuerza por ofrecer experiencias únicas y memorables, proporcionando espacios ideales para escapar del bullicio de la ciudad y disfrutar de momentos de tranquilidad y diversión en entornos naturales. Valoramos la calidad, comodidad y seguridad de nuestros clientes, brindando un servicio personalizado y eficiente adaptado a sus necesidades y preferencias.</p>
</div>
</div>
</div>

      <section class="mission-section">
  <h2>Nos puedes contactar a través de : </h2>
  <p>
    <a href="#" target="_blank" rel="noopener noreferrer" class="social-icon">
      <i class="fab fa-facebook"></i>
    </a>
    <a href="#" target="_blank" rel="noopener noreferrer" class="social-icon">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="#" target="_blank" rel="noopener noreferrer" class="social-icon">
      <i class="fab fa-tiktok"></i>
    </a>
    <a href="#" target="_blank" rel="noopener noreferrer" class="social-icon">
      <i class="fab fa-youtube"></i>
    </a>
  </p>
</section>


      

   
